@model Nop.Plugin.ThemeHelper.Clothes.Models.FooterModel
<div class="footer">
    <div style="width:100%;background-color:#f6f6f6;color:#606060;border-top:2px solid rgba(0, 0, 0, 0.2);text-align:left">
        <br />
        <div style="height:auto;margin:0px auto 0;width:960px;">
            <div style="display:table-cell;width:205px;padding-left:5px">
                <div style="font-size:12pt">Thông tin</div>
                <div style="margin-top:5px; width:150px;height:1px;background-color:#dddddd"></div>
                <ul style="list-style:none;margin-left:0px;margin-top:10px;font-size:10pt">
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("so_do_website")">Sơ đồ website</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("Topic", new {SystemName = "tra_hang_doi_hang"})">Trả hàng & Đổi hàng</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("Topic", new {SystemName = "chinh_sach_bao_mat"})">Điều khoản về quyền riêng tư</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("Topic", new {SystemName = "dieu_khoan_su_dung"})">Điều khoản sử dụng</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("Topic", new {SystemName = "gioi_thieu_aero87"})">Giới thiệu về Aero87.vn</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("lien_he")">Liên hệ</a></li>
                </ul>
            </div>
            <div style="display:table-cell;width:210px">
                <div style="font-size:12pt">Dịch vụ khách hàng</div>
                <div style="margin-top:5px; width:150px;height:1px;background-color:#dddddd"></div>
                <ul style="list-style:none;margin-left:0px;margin-top:10px;font-size:10pt">
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("tim_kiem_san_pham")">Tìm kiếm</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("Blog")">Bài viết</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("san_pham_vua_xem")">Sản phẩm vừa xem</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("danh_sach_so_sanh")">Danh sách so sánh</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("san_pham_moi")">Sản phẩm mới</a></li>
                </ul>
            </div>
            <div style="display:table-cell;width:210px">
                <div style="font-size:12pt">Tài khoản</div>
                <div style="margin-top:5px; width:150px;height:1px;background-color:#dddddd"></div>
                <ul style="list-style:none;margin-left:0px;margin-top:10px;font-size:10pt">
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("danh_sach_don_hang")">Theo dõi đơn hàng</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("danh_sach_dia_chi")">Địa chỉ nhận hàng</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("thong_tin_tai_khoan")">Tài khoản</a></li>
                    <li style="height:22px"><a style="text-decoration:none;color:#606060" href="@Url.RouteUrl("gio_hang")">Giỏ hàng</a></li>
                </ul>
            </div>
            <div style="display:table-cell;width:330px">
                <div style="font-size:12pt">Cách thức thanh toán</div>
                <div style="margin-top:5px; width:350px;height:1px;background-color:#dddddd"></div>
                <div style="width:200px;height:50px; background: url(/Themes/Clothes/Content/images/Footer/visa-master-cod-40.png) no-repeat right center"></div>
                <br />
                <div style="font-size:12pt">Đối tác</div>
                <div style="margin-top:5px; width:350px;height:1px;background-color:#dddddd"></div>
                <div style="width:310px;height:50px; background: url(/Themes/Clothes/Content/images/Footer/nvc-logo.png) no-repeat right center"></div>
                <br />
                <div style="font-size:12pt">Ngân hàng hỗ trợ</div>
                <div style="margin-top:5px; width:350px;height:1px;background-color:#dddddd"></div>
                <br />
                <div>
                    <div style="float:left;width:48px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-hsbc.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-vcb.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-donga.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-techcombank.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-acb.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-agribank.png) no-repeat right center" "></div>
                    <div style="float:left;width:45px;height:35px; background: url(/Themes/Clothes/Content/images/Footer/bank-viettinbank.png) no-repeat right center" "></div>
                </div>


            </div>
        </div>
        <div style="height:auto;margin:0px auto 0;width:960px;">
            <div style="margin-top:5px; width:100%;height:1px;background-color:#dddddd"></div>
            <br />
            <div style="display:table-cell;width:200px;padding-left:5px;">
                <div style="font-size:12pt">Đã được chứng nhận</div>
                <br />
                <div style="width:122px;height:80px; background:url(/Themes/Clothes/Content/images/Footer/dk-bo-cong-thuong.png) no-repeat 2px center"></div>
            </div>
            <div style="display:table-cell;width:760px;padding-right:5px;">
                <div style="font-size:12pt"><b>AERO87.vn</b> - CUNG CẤP SẢN PHẨM CHÍNH HÃNG <b>AÉROPOSTALE</b> VÀ <b>FOREVER21</b> TẠI VIỆT NAM</div>
                <br />
                <div>AERO87.vn tự hào cung cấp chính hãng 2 nhãn hiệu Mỹ <b>AÉROPOSTALE</b> và <b>FOREVER21</b>. Nhằm mang đến xu hướng thời trang Mỹ trãi rộng toàn quốc, AERO87.vn được triển khai với mong muốn trở thành nơi mua sắm thời trang uy tín với cam kết 100% hàng chính hãng. Tại đây bạn có thể đặt hàng online thỏa thích, với cách thức thanh toán COD (giao hàng nhận tiền), AERO87.vn mang đến cho khách hàng sự tự tin trong mua sắm.</div>
                <br />
                <div>AERO87.vn trân trọng thời gian hạn hẹp của bạn. Chỉ cần với 1 vài click chuột đơn hàng của bạn sẽ hoàn tất. Chúng tôi sẽ vận chuyển tận nơi cho bạn ở mọi nẻo đường trên toàn quốc</div>
                <br />
            </div>

        </div>

    </div>

    <div style="background-color:#ddd;border-top:1px solid rgba(0, 0, 0, 0.2);height:140px">
        <div style="margin:0px auto 0;width:960px">
            <br />
            <div style="display:table-cell;width:630px;text-align:left;padding-left:5px;">
                <div style="height:20px;font-weight:bold">AERO87.vn - Thời trang chính hãng AÉROPOSTALE và FOREVER21</div>
                <div style="height:20px">Hỗ trợ đặt hàng (08)668 000 55</div>
                <div style="height:20px">Giao hàng nhận tiền trên toàn quốc</div>
                <div style="height:20px">Hot line: 0903 090 357</div>
                <div style="height:20px">CN 1: 665 Trần Hưng Đạo, Phường 1, Quận 5, Tp. HCM (08. 62 610 665)</div>
				<div style="height:20px">CN 2: 165 Cách Mạng Tháng 8, Phường 5, Quận 3, Tp. HCM (08. 62 958 661)</div>
            </div>
            <div style="display:table-cell;width:330px;text-align:right;padding-right:5px;">
                @*<div>Copyright © 2014 AERO87. All rights reserved.</div>*@
                <div>@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)</div>
            </div>
        </div>
    </div>




    @*<div class="footer-menus">
            <div class="footer-menu footer-menu-first">
                <h3>@T("Clothes.Information")</h3>
                <ul>
                    @if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("so_do_website")">@T("Sitemap")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("Topic", new {SystemName = "tra_hang_doi_hang"})">@T("ShippingReturns")</a></li>
                    <li><a href="@Url.RouteUrl("Topic", new {SystemName = "chinh_sach_bao_mat"})">@T("PrivacyNotice")</a></li>
                    <li><a href="@Url.RouteUrl("Topic", new {SystemName = "dieu_khoan_su_dung"})">@T("ConditionsOfUse")</a></li>
                    <li><a href="@Url.RouteUrl("Topic", new {SystemName = "gioi_thieu_aero87"})">@T("AboutUs")</a></li>
                    <li><a href="@Url.RouteUrl("lien_he")">@T("ContactUs")</a> </li>
                </ul>
            </div>
            @if (Model.NewsEnabled
                 || Model.BlogEnabled
                 || Model.ForumEnabled
                 || Model.RecentlyViewedProductsEnabled
                 || Model.RecentlyAddedProductsEnabled
                 || Model.CompareProductsEnabled)
            {
                <div class="footer-menu">
                    <h3>@T("Clothes.CustomerService")</h3>
                    <ul>
                        <li><a href="@Url.RouteUrl("tim_kiem_san_pham")">@T("Search")</a> </li>
                        @if (Model.NewsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                        }
                        @if (Model.BlogEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        }
                        @if (Model.ForumEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                        }
                        @if (Model.RecentlyViewedProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("san_pham_vua_xem")">@T("Products.RecentlyViewedProducts")</a></li>
                        }
                        @if (Model.CompareProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("danh_sach_so_sanh")">@T("Products.Compare.List")</a></li>
                        }
                        @if (Model.RecentlyAddedProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("san_pham_moi")">@T("Products.NewProducts")</a></li>
                        }
                    </ul>
                </div>
            }
            <div class="footer-menu">
                <h3>@T("Account.MyAccount")</h3>
                <ul>
                    @if (!Model.HideOrders)
                    {
                        <li><a href="@Url.RouteUrl("danh_sach_don_hang")">@T("Account.CustomerOrders")</a></li>
                    }
                    @if (!Model.HideAddresses)
                    {
                        <li><a href="@Url.RouteUrl("danh_sach_dia_chi")" class="">@T("Account.CustomerAddresses")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("thong_tin_tai_khoan")" class="account">@T("Account.MyAccount")</a></li>
                    @if (Model.ShoppingCartEnabled)
                    {
                        <li><a href="@Url.RouteUrl("gio_hang")" class="ico-cart">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li><a href="@Url.RouteUrl("danh_sach_mong_muon")" class="ico-wishlist">@T("Wishlist")</a></li>
                    }
                </ul>
            </div>

            <div class="footer-menu">
                <h3>@T("Clothes.FollowUs")</h3>
                <ul class="follow-us">
                    @if (!string.IsNullOrEmpty(Model.FacebookLink))
                    {
                        <li>
                            <a rel='nofollow' href="@Model.FacebookLink" target="_blank">Facebook</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.TwitterLink))
                    {
                        <li>
                            <a rel='nofollow' href="@Model.TwitterLink" target="_blank">Twitter</a>
                        </li>
                    }
                    @if(Model.NewsEnabled)
                    {
                        <li>
                            <a rel='nofollow' href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" title="@T("News.RSS.Hint")">RSS</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.YouTubeLink))
                    {
                        <li>
                            <a rel='nofollow' href="@Model.YouTubeLink" target="_blank">YouTube</a>
                        </li>
                    }

                </ul>
            </div>
        </div>*@



    @*<div class="footer-poweredby">
            Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
            Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                Find more info here http://www.nopcommerce.com/copyrightremoval.aspx
        </div>*@

    @*
        <div class="footer-disclaimer">
            @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
        </div>
        <div class="footer-store-theme">
            @Html.Action("StoreThemeSelector", "Common")
        </div>
        @Html.Action("ChangeDeviceBlock", "Common")
        @Html.Widget("footer")
    *@
</div>
